
<!-- Passing the article object to the form_with method will automatically set the URL for 
submitting the edited article form. This option tells Rails that we want this form to 
be submitted via the PATCH HTTP method, which is the HTTP method you're expected to 
use to update resources according to the REST protocol.

Also, passing a model object to form_with, like model: @article in the edit view above, 
will cause form helpers to fill in form fields with the corresponding values of the object. 
Passing in a symbol scope such as scope: :article, as was done in the new view, only creates 
empty form fields. More details can be found in form_with documentation.-->
 

<h1>Edit Article</h1>
 
<%= form_with(model: @article, local: true) do |form| %>
 

 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>